<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/commonhead') %>
  </head>
  <body>
    <div class="main-wrapper">
      <%- include ('../partials/homeheader') %>

      <section class="section section-search">
        <div class="container-fluid">
          <div class="banner-wrapper">
            <div class="banner-header text-center">
              <h1>Password Reset Link Sent</h1>
              <p>Check your Inbox to reset your password</p>

              <% if (env == 'development') { %>
              <a
                class="btn btn-primary btn-lg mt-4"
                href="/reset-password/<%= user.forgotPasswordCode %>"
                >Continue (Development)</a
              >
              <% } %>
            </div>
          </div>
        </div>
      </section>

      <%- include ('../partials/homefooter') %>
    </div>

    <%- include ('../partials/commonscripts') %>
  </body>
</html>
